.element_id {
    border: 1px solid;
    box-sizing: border-box;
    float: left;
    width: 10%;
}
.element_name {
    border: 1px solid;
    box-sizing: border-box;
    float: left;
    width: 40%;
}
.element_age {
    border: 1px solid;
    box-sizing: border-box;
    float: left;
    width: 20%;
}
.element_date {
    border: 1px solid;
    box-sizing: border-box;
    float: left;
    width: 30%;
}